{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended", "eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "*"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["prettier", "react", "redux-saga", "react-hooks", "jest"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "singleQuote": true,
        "jsxBracketSameLine": true,
        "trailingComma": "es5",
        "printWidth": 120,
        "semi": true,
        "endOfLine": "lf"
      }
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "no-console": 1,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreComments": true
      }
    ],
    "no-unexpected-multiline": "error",
    "react/button-has-type": [
      "error",
      {
        "button": true,
        "submit": true,
        "reset": true
      }
    ],
    "react/destructuring-assignment": ["error", "always"],
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "redux-saga/no-yield-in-race": 2,
    "redux-saga/yield-effects": 2,
    "require-yield": 0
  }
}
